body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  position: relative;
  top: -75px;
  color: #6A7E5B;
  font-family: 'Digital-7 Mono', sans-serif;
  font-size: 2.5rem;
  padding: 2px;
  margin-right: 10px
}
.first-container{
  position: relative;
  top: -15px;
  color: #6A7E5B;
  font-family: 'Digital-7 Mono', sans-serif;
  font-size: 2rem;
}

.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/clock.png);
  background-repeat: no-repeat;
  background-position: center;
   width: 100vw;
  height: 100vh; 
  }
  .app{
    display: flex;
    height: 100vh;
    width: 100vw;
  }

